@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --poppins: "Poppins", sans-serif;
  --clr-dark: #2b2b2b;
  --clr-light: #ffff;
  --red: #fb4d3d;
  --h1: 90px;
  --h2: 33px;
  --h3: 24px;
  --h4: 16px;
  --h5: 12px;
  --h6: 10px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: var(--clr-dark);
  font-family: var(--truculenta);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 5rem;
}

/* HEADER */
.header {
  width: 100%;
  z-index: 999;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  display: flex;
  gap: 3rem;
  padding-top: 2.5rem;
  font-family: var(--poppins);
}
.header__nav li a {
  color: var(--clr-light);
}
.header.dark .container {
  margin-top: 0rem;
  background-color: var(--clr-dark);
  border-radius: 1rem;
  transition: 0.5 ease;
}
.social__nav {
  display: none;
}

.header img {
  width: 10rem;


}

/* HEADER */

.header {
  position: fixed;
  width: 100%;
  z-index: 999;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  display: flex;
  gap: 3rem;
}
.header__nav li a {
  color: var(--clr-light);
}
.header.dark .container {
  margin-top: 5rem;
  background-color: var(--clr-dark);
  border-radius: 1rem;
  transition: 0.5s ease;
}
.header .container {
  transition: 0.5s ease;
}
.nav_soc {
  display: none;
}
.nav__logo {
  display: none;
}

.logo__mobile{
  display: none;
}
/* MOBILE RESPONSIVE FOR HEADER */

.header .toggle__menu span {
  background-color: var(--clr-light);
  width: 4rem;
  height: 0.6rem;
  display: block;
  border-radius: 1rem;
  transition: all 0.5s ease;
}
header .toggle__menu span:nth-child(2) {
  background-color: var(--clr-light);
  width: 3rem;
  height: 0.6rem;
  display: block;
  border-radius: 1rem;
  transition: all 0.5s ease;
}
header .toggle__menu span:nth-child(3) {
  background-color: var(--clr-light);
  width: 2rem;
  height: 0.6rem;
  display: block;
  border-radius: 1rem;
  transition: all 0.5s ease;
}
header .toggle__menu span:nth-child(4) {
  opacity: 0;
}
.header .toggle__menu {
  display: none;
}
@media screen and (max-width: 520px) {
  .header.dark .container {
    margin-top: 0;
    background-color: var(--clr-dark);
    border-radius: 0;
    position: fixed;
  }
  .header .toggle__menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end;
  }
  .header {
    position: fixed;
    width: 100;
  }
  .nav_soc {
    display: flex;
    gap: 4rem;
  }
  .nav_soc li {
    background-color: transparent;
  }
  .nav_soc a:hover {
    background-color: var(--clr-light);
    width: 2rem;
    color: skyblue;
  }
  .nav__logo {
    padding-top: 2rem;
    display: flex;
  }
  .header__nav {
    position: fixed;
    flex-direction: column;
    top: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-dark);
    width: 100%;
    height: 100vh;
    /* margin-top: 25rem; 
    transform: translateY(-14rem);
    z-index: 99;  */
    right: -100%;
    transition: all 0.5s ease;
  }
  .header__nav li a {
    font-size: var(--h2);
  }
  .header__nav.open {
    right: 0;
  }
  .header img {
    width: 10rem;
  }
  .toggle__menu.open span:first-child {
    transform: translate(0, 10px) rotate(45deg);
    transition: all 0.5s ease;
  }
  .toggle__menu.open span:nth-child(2) {
    opacity: 0; /*para di kita */
    transition: all 0.5s ease;
  }
  .toggle__menu.open span:nth-child(3) {
    opacity: 0; /*para di kita */
    transition: all 0.5s ease;
  }
  .toggle__menu.open span:nth-child(4) {
    transform: translate(0, -22px) rotate(-45deg);
    transition: all 0.5s ease;
    opacity: 100;
  }
}

/* Home Banner */
.homeBanner {
  background: url(./banner-img.png);
  height: 100vh;
  width: 90vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  text-align: center;
}
.homeBanner__wrapper h1 {
  font-size: var(--h1);
  text-align: center;
  color: var(--clr-light);
}
.homeBanner__wrapper {
  text-align: center;
}

@media screen and (max-width: 520px) {
  .homeBanner__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
  .homeBanner__wrapper h1 {
    font-size: var(--h2);
    text-align: center;
    color: var(--clr-light);
    padding-bottom: 1rem;
    margin: 1rem;
    gap: 3rem;
  }
}

/* servicesBanner */
.services__title h2 {
  font-size: var(--h2);
  color: #fb4d3d;
  font-weight: 700;
  padding-top: 5rem;
}
.services__title p {
  text-align: justify;
  padding-bottom: 5rem;
  font-family: var(--poppins);
}
.services__wrapper h2 {
  font-size: var(--h2);
  padding-bottom: 2rem;
  text-align: center;
  font-weight: 700;
}
.services__wrapper p {
  text-align: justify;
  font-family: var(--poppins);
  max-width: 35rem;
}
.services__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  padding-bottom: 5rem;
  gap: 5rem;
  align-items: center;
  justify-items: center;
}
.services_context {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 9px;
  padding: 4rem;
  padding-bottom: 10rem;
  height: 50rem;
}
.services_context ul {
  font-family: var(--poppins);
  padding-bottom: 3rem;
}
.services__wrapper span {
  content: "";
  position: relative;
  display: inline-block;
  background-color: var(--red);
  width: 35rem;
  height: 0.2rem;
  opacity: 100%;
}
.services_context:hover {
  scale: 1.1;
  transition: 500ms;
}
.services_context:hover .btn2.bg--red {
  scale: 1.1;
  transition: 500ms;
  background-color: var(--red);
  color: var(--clr-light);
}

@media screen and (max-width: 520px) {
  .services_context:hover {
    transition: none;
    scale: 1;
  }
}

/* display Project */
.display__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.display__wrapper img {
  width: 100rem;
  object-fit: cover;
}
.cards2 {
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.cards2 p {
  padding-bottom: 1.5rem;
  font-family: var(--poppins);
  padding-bottom: 3rem;
  padding-top: 2rem;
}
/* .display__wrapper {
  position: relative;
} */

.cards__details h2 {
  font-size: var(--h2);
  font-family: var(--poppins);
  font-weight: 700;
}
.cards__details {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.35);
  color: var(--clr-light);
  font-family: var(--poppins);
  width: 45rem;
  padding: 5rem;
  opacity: 0;
}

.cards2 span {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  scale: 1;
  transition: 0.5s ease-in;
}

.cards2 span:hover {
  scale: 0;
}

.cards2 span:hover ~ .cards__details {
  scale: 1.1;
  opacity: 100;
}

@media screen and (max-width: 520px) {
  .display__wrapper {
    display: flex;
    flex-direction: column;
    transition: none;
  }
  .cards2 {
    transition: none;
    scale: 1;
  }

  .cards2 span:hover ~ .cards__details {
    transition: none;
    scale: 1;
  }
}

/* contact */
.contact__title h2 {
  font-size: var(--h2);
  font-family: var(--poppins);
  font-weight: 600;
  color: var(--red);
  margin-bottom: 1rem;
  padding-top: 10rem;
}
.contact__wrapper {
  font-family: var(--poppins);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact__title p {
  padding-bottom: 6rem;
}
.Contact {
  flex-direction: column;
  color: var(--light);
  max-height: 60rem;
  width: 60rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 1rem;
  align-items: center;
  text-align: center;
  align-items: center;
  padding: 5rem;
  text-align: end;
  transform: translateY(3rem);
  z-index: 9999;
  background: var(--clr-light);
}

form {
  display: grid;
  opacity: 70%;
  padding-bottom: 1rem;
}
form input {
  display: grid;
  height: 3rem;
  margin-bottom: 1rem;
  width: 50rem;
  border-radius: 0.5rem;
}
textarea {
  display: flex;
  margin-bottom: 1rem;
  width: 80rem;
  max-width: 50rem;
  height: 40rem;
  font-size: 1.6rem;
  border-radius: 1rem;
}
.contact__icons {
  margin-bottom: 5rem;
  color: var(--clr-dark);
  background-color: var(--clr-light);
  /* max-width: 55rem; */
  /* padding-bottom: -25rem; */
  transform: translateY(3rem);
}
.contact__icons li a {
  color: var(--red);
  margin: 2rem;
}

@media screen and (max-width: 520px) {
  .contact__wrapper {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 5rem;
  }

  textarea {
    display: flex;
    margin-bottom: 1rem;
    width: 30rem;
    max-width: 30rem;
    height: 30rem;
    font-size: 1.6rem;
    border-radius: 1rem;
  }
  .Contact {
    flex-direction: column;
    color: var(--light);
    max-height: 60rem;
    width: 40rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 1rem;
    align-items: center;
    text-align: center;
    align-items: center;

    text-align: end;
    transform: translateY(0rem);
    background: var(--clr-light);
  }
  form input {
    display: grid;
    height: 3rem;
    margin-bottom: 1rem;
    width: 30rem;
    border-radius: 0.5rem;
  }
  .Contact {
    z-index: -9999;
  }
}

/* footer */
.footer {
  padding: 3rem 0;
  background-color: gray;
  color: var(--clr-light);
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.kulong {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;

  
}
.kulong img {
  padding-left: 45rem;
}
.social li a {
  color: var(--clr-light);
}
.social {
  display: flex;
  gap: 3rem;
}

/* Footer Responsive */
@media screen and (max-width: 520px) {
  .footer__wrapper {
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .kulong {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
  }
  .kulong img {
    padding-left: 0rem;
  }
}



/* repitable btn */

.btn {
  background-color: transparent;
  border: transparent;
  padding: 1rem 2rem;
  border-radius: 10rem;
  color: transparent;
}
.btn.bg--tertiary {
  background-color: transparent;
  color: var(--clr-light);
  border: 1px solid var(--clr-light);
}
.btn.bg--tertiary:hover {
  background-color: var(--clr-light);
  border: transparent;
  color: var(--red);
}

.btn.bg--tertiary3 {
  background-color: transparent;
  color: var(--clr-light);
  border-radius: 0rem;
}
.btn.bg--tertiary3:hover {
  background-color: var(--clr-light);
  border: transparent;
  color: var(--red);
}

.btn.bg--tertiary2 {
  background-color: var(--red);
  border: 1px solid var(--red);
  color: var(--clr-light);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10rem;
}
.btn.bg--tertiary2:hover {
  background-color: var(--clr-light);
  border: var(--clr-dark);
  color: var(--red);
}

.btn2.bg--red {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: transparent;
  color: var(--red);
  height: 4.5rem;
}

.btn2.bg--red:hover {
  background-color: var(--red);
  color: var(--clr-light);
  border: transparent;
}

.btn.bg--box--light {
  background-color: transparent;
  color: var(--light);
}
